.landing{
 background: whitesmoke;
 color: ;
}
.landing >section{
		padding: 1rem 2rem;
}
.landing_title{
	text-align: center;
}
.particles{
	position: absolute;
	z-index: ;
}

::-webkit-scrollbar{
	width: 3px;
}
::-webkit-scrollbar-thumb{
	border-radius: 30px;
	background: var(--accent);
}