.chats{
	position: relative;
	height: 100%;
	grid-template-rows:  5rem 3rem 1fr;
}
.list_container{
 	display: flex;
	flex-direction: column;
	overflow: auto;
	padding-top: 2rem;
	position: relative;
/*	height: calc(100% - 7.5rem);*/
}
.list_container::-webkit-scrollbar{
	width: 2px;
}
.list_container::-webkit-scrollbar-thumb{
	background: var(--hover);
}
.list{
gap: .5rem;
position: relative;
}

.list_item{
 gap: .5rem;
 position: relative;

}

.image{
	border-radius: 50%;
	width: 3rem;
	background: var(--hover);
aspect-ratio: 1/1;
	place-content: center;
	overflow: hidden;
}
.text{
	width: 100%;
}

.text > div{
	justify-content: space-between;
}

.text .bottom{
	font-size: var(--font4);
	color: var(--text2);
}
.text .preview{
 max-width: 15vw;

	 overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.name{
	font-size: var(--font3);
}
.time{
	font-size: var(--font4);
	color:var(--accent);
}

.more_option{
	position: absolute;
	z-index: ;
	right: 0;
	bottom: 0;
}
.more_option_hidden{
	display: none;
}
.more_option i{
	cursor: alias;
}
.more_option_deets{
	position: absolute;
	background: var(--hover_blur);
	border-radius: 10px;
	z-index: 1;
	right: 0;
	top: 0;
	padding: 1rem  .5rem;
	backdrop-filter: blur(10px);

}
.more_option_deets .more_option_list li{
	font-size: var(--font4);
	padding: .5rem 1rem ;
}
.more_option_deets .more_option_list li i svg{
  font-size: var(--font3);
}


.activity{
	background: var(--accent);
	border-radius: 20px;
	height: 1rem;
	padding: .2rem;
	position: relative;
	color: var(--text_dark);
}
.activity span{
	display: grid;
	place-content: center;
	height: 100%;
}

/*NEWCHAT*/

.newChat{
	visibility: hidden;
	position: absolute;
	inset: 0;
	transition: visibility .1s  .2s ease;
}
.newChat.active{
	visibility: visible;

}
.newChat_container{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0%;
	border-radius: 20px 20px 0 0;
	padding: 1rem;
	background:var(--hover_blur);
	backdrop-filter: blur(10px);
	transition: height .5s ease;
	box-shadow: inset 0px 10px  25px var(--hover);
}
.newChat.active .newChat_container{
	height: 90%;

}



@media (max-width:1200px){
	.text .preview{
 		max-width: 20vw;
	}
		
}

@media (max-width:700px){
.list_container{
	height: calc(100% - 4rem);
}
	.text .preview{
 		max-width: 70vw;
	}
		
}

@media (max-width:400px){

	.text .preview{
 		max-width: 50vw;
	}
		
}
