.chat{
  position: relative;
 grid-template-rows: 4rem 1fr auto;
/* overflow: hidden;*/
 height: 100%;
 max-height: 100vh;

}
.chat_top{
	box-shadow: 1px 1px 3px var(--hover);
 	padding: .5rem 1rem;
 	height: 4rem;
}

.chat_profile{
	gap: 1rem;
}
.image{
	border-radius: 50%;
	width: 3rem;
	background: var(--hover);
	aspect-ratio: 1/1;               
	place-items: center;
	overflow: hidden;
}
.chat_container{
	flex-direction: column;
	align-items: flex-start;
/*	background: var(--primary);*/
	gap: 1rem;
	overflow: auto;
	padding: 0 1rem;
	position: relative;
	max-height:100%;
	padding-top: 1rem;
}
.chat_container::-webkit-scrollbar{
	width: 1px;
}
.chat_container::-webkit-scrollbar-thumb{
	border-radius: 30px;
	background: var(--accent);
}
.chat_form{
	overflow: hidden;
	align-items: flex-end;
	width: 100%;
	left: 0;
	bottom: 0;
}
.form{
	padding: .5rem;
	gap: .4rem;
}
.form span{
	cursor: pointer;
	padding: .3rem;
	border-radius: var(--border_rad1);
}
.form span:hover,
.emoji.active{
	background: var(--hover);

}
.form .chatInput > div{
	color: var(--txt);
}
.form .chatInput > div::before{
	display: none;
}
.file_preview{
	background: var(--hover);
	padding: .4rem;
	border-radius: .4rem .4rem 0 0;
}
.file_preview > span{
	display: block;
	width: 3rem;
	box-shadow: 1px 3px 3px var(--secondary);
/*	overflow: hidden;*/
	position: relative;
}
.file_preview > span i{
	position: absolute;
	top: -.3rem;
	right: -.3rem;
	cursor: pointer;
}
.message_container{
  display: flex;
  gap: .3rem;
  width: 100%;

}
.message_container .image{
	width: 2rem;
	height: 2rem;
	align-self: flex-end;
}
.message_box{
	max-width: 60%;
	height: 100%;
 background: var(--hover);
 border-radius:5px;
 padding:  .4rem;
 position: relative;

}
.message_content{
	gap: 1rem;
}
.message_content p{
	max-width: 20rem;
	word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
}
.message_content .message_img{
	max-height: 15rem;
	overflow: hidden;
	border-radius: var(--border_rad1);
	box-shadow: 1px 3px 5px var(--primary);

}
.message_box:before{
  content: '';
  position: absolute;
  top: 0;  
  left: -.4rem;
  border-top: 0rem solid transparent;
  border-right: 1rem solid  var(--hover);
  border-bottom: .5rem solid transparent;
  border-radius: 20px;
  z-index: ;
}
.message_box.currentUser:before{
	left: initial;
	right: -.4rem;
  border-left: .8rem solid var(--accent);
  border-right: initial;
}
.currentUserCont{
  align-self: flex-end;
  flex-direction: row-reverse;
}

.currentUser{
	background: var(--accent);
   color: #fff;
}
.attach{
	position: relative;
}
.attach input{
	display: none;
}
.send_msg{
	color: var(--accent) !important	;
}
.loading{
	position: absolute;
	background: rgba(0, 0, 0, .2);
	inset: 0;
	place-content: center;

}
@media (max-width:700px){
	.emoji_picker aside{	
	left: -7%;	
}
}
