
.chat{
 height: 100%;
 grid-template-rows: 4rem calc(100vh - 10rem) 3rem;
 position: relative ;
}
.chat_top{
	border-bottom: 1px solid var(--primary);
 	padding: .5rem 1rem;
}
.chat_top{

}
.chat_profile{
	gap: 1rem;
}
.image{
	border-radius: 50%;
	width: 3rem;
	background: var(--hover);
aspect-ratio: 1/1;
	place-content: center;
	overflow: hidden;
}
.chat_container{
	flex-direction: column;
	align-items: flex-start;
	background: var(--primary);
	gap: 1rem;
	overflow: auto;
	padding: 0 1rem;
	position: relative;
}
.chat_container::-webkit-scrollbar{
	width: 1px;
}
.chat_container::-webkit-scrollbar-thumb{
	border-radius: 30px;
	background: var(--accent);
}
.chat_form{
	overflow: hidden;
	align-items: center;
	border-top: 1px solid var(--primary);
	position: relative;
}
.form{
	padding-inline: .5rem;
	gap: .4rem;
}
.form span{
	cursor: pointer;
	padding: .3rem;
	border-radius: var(--border_rad1);
}
.form span:hover,
.emoji.active{
	background: var(--hover);

}
.form input{
	width: 100%;

}

.emoji_picker aside{	
	position: absolute;
	bottom: -3%;
	left: -20%;
	transform: scale(.7);
}
.message_box{
 background: var(--secondary);
 border-radius:5px;
 padding: .3rem;
 max-width: 70%;
position: relative;
}
.message_box:before{
  content: '';
  position: absolute;
  top: 0;  
  left: -.4rem;
  border-top: 0rem solid transparent;
  border-right: .8rem solid var(--secondary);
  border-bottom: .5rem solid transparent;
  border-radius: 10px;
}
.message_box.currentUser:before{
	left: initial;
	right: -.4rem;
  border-left: .8rem solid var(--accent);
  border-right: initial;
}
.currentUser{
	background: var(--accent);
  align-self: flex-end;
}
.attach{
	position: relative;
}
.attach input{
	display: none;
}
.send_msg{
	color: var(--accent) !important	;
}
.loading{
	position: absolute;
	background: rgba(0, 0, 0, .2);
	inset: 0;
	place-content: center;

}
@media (max-width:700px){
	.emoji_picker aside{	
	left: -7%;	
}
}
