 .section5{
 	background: var(--accent);
 }
 .section5_container{
 	gap: 3rem;
 	padding-block: 4rem;

 }
 .section5_content{
 	justify-content: center;
 	gap: 4rem;
 }
 .section5_content >article{
 	place-items: center;
 	gap: 1rem;

 }
 .section5_content >article .content{
 	background: var(--text);
 	padding: 2rem;
 	position: relative;
 	border-radius: 20px;
 	text-align: center;
 	max-width: 30rem;
   height: 15rem;
 }
 .content h5{
 	color: var(--accent);
 }
 .content p{
 	color: var(--hover);
 }
 .section5_content >article .content:after {
 	content: '';
 	position: absolute;
    bottom: -2rem;
    left: 50%;
	border: 1rem solid transparent;
	border-top-color: var(--text);
	transform: translateX(50%);
/*	z-index: -1;*/
 }
 .writer{
 	gap: .3rem;
 }
  .writer >span{
 	display: block;
 	border-radius: 50%;
 	width: 3rem;
 	aspect-ratio: 1/1;
 	overflow: hidden;
 }
 .writer span img{
 	object-fit: cover;
 }

  @media (max-width:700px){
 	.section5_content{
 		flex-direction: column;
 		text-align: center;
 	}
 }