.sideBar{
	position: fixed;
  bottom: 0;
	z-index: 90;
		height: 100%;
		width: 13rem;
	background: var(--primary);
	border-radius: 0 var(--border_rad1) var(--border_rad1) 0;
	transition:  background .5s, width .5s  ease;
	background: var(--secondary);
}
.sideBar.active{
}

.sideBar_container{
	padding: var(--padding1);
	padding-top: 1.5rem;
	position: relative;
	overflow: auto;
	height: 100%;
}

 .logo{
	display: block;
	text-align: center;
	width: 100%;
	color: var(--accent);
	cursor: pointer;
}
.content2{

}
.list{
	gap: 2rem;
	position: relative;
	padding-block: 2rem;
}
.sideBar_container .content1  .menu_bar{
/*	font-size: 2.5rem;*/
	padding: 0;
	display: none;
	cursor: pointer;
}
.content1 > .menu_bar, .list_item{
	position: relative;
	padding: .5rem;
	border-radius: var(--border_rad1);
	display:flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.content1 > .menu_bar:hover ,
.list_item:hover,
.list_item.active{
	background: var(--hover);
	backdrop-filter: blur(10px);
}

.list_item .left{
  display: flex;
  align-items: center;
  gap: 1rem;

}
 .list_item .left p{
	opacity: 1;
	display: block;
	transition: opacity .4s display 1s 4s ease;
}
.image{
	border-radius: 50%;
	width: 2rem;
	background: var(--hover);
	aspect-ratio: 1/1;                 
	place-content: center;
	overflow: hidden;
}
.profile{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: var(--primary);
}

.activity{
	top: 0;
	left: 0;
	background: var(--accent);
	width: .9rem;
	height: .9rem;
	border-radius: 50%;
	position: relative;
}
.sideBar.active .activity{
}
.activity span{
	position: absolute;
	color: var(--text2);
	font-size: var(--font5);
	font-weight: bolder;
	display: grid;
	inset: 0;
	place-content: center;
}
.list:after{
	content: '';
	
	width: 90%;
	height: 1px;
	margin: 1rem auto 0;
	background: var(--hover);
}
.list_item svg{
	font-size: 1.3rem;
}

@media (max-width: 1200px){
	.sideBar{
		width: initial;
}
.sideBar.active{
	width: 13rem;

}
.sideBar_container .content1  .menu_bar{
	display: block;
}
.logo{
	display: none;
}
.sideBar.active .logo{
	display: block;
}
.list_item .left p{
	opacity: 0;
	display: none;
}
.sideBar.active .list_item .left p{
	opacity: 1;
	display: block;
	transition: opacity .4s display 1s 4s ease;
}
.activity{
	position: absolute;
}
.sideBar.active .activity{
	position: relative;
}
.activity span{
	position: absolute;
	font-size: .7rem;
	color: var(--primary);
	display: grid;
	inset: 0;
	place-content: center;
}
}
@media (max-width:700px){
	.sideBar{
		width: 0px;
		overflow: hidden;
	}
	
	
}